{% extends "base.html" %}
{% block title %}
About
{% endblock title %}
{% block header %}
About
{% endblock header%}
{% block content %}

<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <p>
    Strivedata is a resource to help players explore competitive
    <strong><em>Guilty Gear -Strive-</em></strong>
    tournament data.
  </p>
  <p>
    All data is provided by the official
    <a href="https://www.start.gg/" class="font-bold hover:underline text-sky-700">
      start.gg
    </a> API.
  </p>

  <br>

  <p>
    Made by <strong class="text-red-700">crtado</strong>, source on
    <a href="https://github.com/crtado/strivedata" class="font-bold hover:underline text-sky-700">
      Github
    </a>
  </p>

  <br>

  <h2 class="text-2xl font-bold leading-tight text-gray-900">Other Great Sites</h2>
  <ul class="list-disc list-inside">
    <li>
      <a href="http://ratingupdate.info/" class="font-bold hover:underline text-sky-700">
        ratingupdate.info
      </a>
      &nbsp;The (un)official online leaderboard for Strive.
      Uses PC replay data to track players & provide skill ratings.
    </li>
    <li>
      <a href="https://www.dustloop.com/wiki/index.php" class="font-bold hover:underline text-sky-700">
        dustloop
      </a>
      &nbsp;The community wiki for Strive & other ArcSys fighting games.
    </li>
    <li>
      <a href="https://smashdata.gg/" class="font-bold hover:underline text-sky-700">
        smashdata.gg
      </a>
      and <a href="https://www.pgstats.com/" class="font-bold hover:underline text-sky-700">
        pgstats
      </a>
      &nbsp;The inspirations for this website.
      Fantastic resources for competitive Smash Melee, Smash Ultimate, & Strive player data.
    </li>
  </ul>

</div>
{% endblock content %}